* {
    font-family: 'Tektur', sans-serif;
    font-size: 3vh;
}

body {
    background-color: rgb(200, 217, 233);
    margin: 0;
}

main {
    display:flex;
}

section {
    background-color: rgb(173, 201, 228);
    height: 100vh;
    width: 25vw; 
    text-align: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.game-board {
    background-color:rgb(200, 217, 233);
    width: 50vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh; 
    width: 40vw;
    grid-gap: 10px;
    background-color: rgb(235, 95, 118);
    margin-top: 8vh;
}

.square {
    background-color:rgb(200, 217, 233);
}

.square:hover {
    background-color:rgb(145, 195, 242);
}

h2 {
    margin-bottom: 1vh;
    font-size: 10vh;
}

h3 {
    margin-top: 0px;
}

.turn {
    font-size: 4vh;
    margin-top: 0px;
}